<?xml version="1.0"?>
<config>
  <modules>
    <Paymee_Paymeegateway>
      <version>0.1.0</version>
    </Paymee_Paymeegateway>
  </modules>
  <global>
    <models>
      <paymeegateway>
        <class>Paymee_Paymeegateway_Model</class>
      </paymeegateway>
    </models>
    <helpers>
      <paymeegateway>
        <class>Paymee_Paymeegateway_Helper</class>
      </paymeegateway>
    </helpers>
    <blocks>
      <paymeegateway>
        <class>Paymee_Paymeegateway_Block</class>
      </paymeegateway>
    </blocks>
  </global>
  <default>
    <payment>
      <paymeegateway>
        <model>paymeegateway/standard</model>
        <active>1</active>
        <paymee_default_max_age>2880</paymee_default_max_age>
        <title>Débito Bancário</title>
        <order_status>pending</order_status>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </paymeegateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <paymeegateway>
        <use>standard</use>
        <args>
          <module>Paymee_Paymeegateway</module>
          <frontName>paymeegateway</frontName>
        </args>
      </paymeegateway>
    </routers>
  </frontend>
</config>
