<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <paymeegateway translate="label comment" module="paygate">
          <label>PayMee Brasil</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Ativo</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>
            <title translate="label">
              <label>Título</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <paymee_x_api_key translate="label">
              <label>x-api-key</label>
              <comment>Informe sua x-api-key, caso não possua acesse o seu <![CDATA[<a href="https://www2.paymee.com.br/login" target="_blank">merchant panel</a>.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </paymee_x_api_key>
            <paymee_x_api_token translate="label">
              <label>x-api-token</label>
              <comment>Informe sua x-api-token, caso não possua acesse o seu <![CDATA[<a href="https://www2.paymee.com.br/login" target="_blank">merchant panel</a>.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </paymee_x_api_token>
            <paymee_default_max_age translate="label">
              <label>Prazo maximo</label>
              <comment>Informe o prazo maximo da cobrança em minutos. Padrão: 2880 (48h)</comment>
              <frontend_type>text</frontend_type>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </paymee_default_max_age>
            <order_status translate="label">
              <label>Situação inicial do pedido</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <sort_order>60</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </order_status>
            <allowspecific translate="label">
              <label>Pagamento aplicável a partir de</label>
              <frontend_type>select</frontend_type>
              <sort_order>71</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </allowspecific>
            <specificcountry translate="label">
              <label>Países</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>80</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends>
                <allowspecific>1</allowspecific>
              </depends>
            </specificcountry>
            <sort_order translate="label">
              <label>Ordem</label>
              <frontend_type>text</frontend_type>
			        <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sort_order>
          </fields>
        </paymeegateway>
      </groups>
    </payment>
  </sections>
</config>
